<footer>
    <div class="row">
        <div class="links">
            <ul id="main">
                <li><a routerLink="home">HOME</a></li>
                <li><a routerLink="catalog">CATALOG</a></li>
            </ul>
        </div>
        <div class="links">
            <p>About</p>
            <ul>
                <li><a routerLink="about">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>
        <div class="links">
            <p>Help</p>
            <ul>
                <li><a href="#">FAQ's</a></li>
                <li><a routerLink="contact">Contact</a></li>
            </ul>
        </div>
        <div class="links">
            <p>Connect</p>
     <!--Facebook, Twitter and Instagram Logos-->
            <a href="https://www.facebook.com"><img src="../../assets/facebook_white.png"></a>
            <a href="instagram.com"><img src="../../assets/insta_white.png"></a>
        </div>
    </div>
</footer>