
<!--The Modal-->
<div [className]="modal_isOpen ? 'addtocart_model_open' : 'addtocart_modal'" id="myModal">
<!--Modal Content-->
  <div class="modal_content">
    <header>
      <span class="close" (click)="changeModalStatus(false)">&times;</span>
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
      <h3>Added to your cart</h3>
    </header>
    <div *ngFor="let product of products" class="products">
      <tr class="product_info row">
        <td class="column">
          <img src="{{product.img_url}}">
        </td>
        <td class="column">
          <h6 class="product-title">{{product.name}}</h6>
          <p>Qty: 
            <mat-form-field>
              <input matInput type="number" (change)="checkCartEmpty()" required step="1" min="1" max="''" name="quantity" [(ngModel)]="product.quantity">
            </mat-form-field>
          </p>
        </td>
        <td  class="price column">
          <h6>Price</h6>
          <p>{{(product.price * product.quantity).toFixed(2)}}$</p>
        </td>
      </tr>
    </div>
    <footer>
      <div class="row">
        <div class="item-count">
          <h5>{{getCartCount()}} Item(s) in your cart</h5>
        </div>
        <div class="item-price">
          <h6>Total:</h6>
          <p>{{getTotalPrice()}}$</p>
        </div>
      </div>
      <div class="row">
        <div class="item">
          <button mat-button id="continue_btn" (click)="changeModalStatus(false)">Continue Shopping</button>
        </div>
        <div class="item" *ngIf="!cartEmpty; else elseBlock">
            <a routerLink="shopping-cart"><button mat-stroked-button id="checkout_btn">Go to cart</button></a>
        </div>
        <ng-template #elseBlock>
            <div class="item">
                <a><button mat-stroked-button disabled id="checkout_disabled">Go to cart</button></a>
            </div>
        </ng-template>
      </div>
    </footer>
</div>
