<div class="ft-products">
  <h2 id="header">Featured Products</h2>
  <div class="row">
      <div class="product">
          <img src="../../assets/product1.jpg">
          <p>Magic Trio Peeler (3 Sets) - <strong>34.99$</strong></p>
      </div>
      <div class="product">
          <img src="../../assets/product2.jpg">
          <p>Super Absorbent DoorMat - <strong>24.99$</strong></p>
      </div>
      <div class="product">
          <img src="../../assets/product2.jpg">
          <p>Super Absorbent DoorMat - <strong>24.99$</strong></p>
      </div>
      <div class="product">
          <img src="../../assets/product2.jpg">
          <p>Super Absorbent DoorMat - <strong>24.99$</strong></p>
      </div>
  </div>
</div>
  