.column {
    float: left;
    width: 25%;
    margin-top: 30px;
    background-repeat: no-repeat;
}
.row::after {
    content: '';
    display: table;
    clear: both;
}
.trust-badges {
    background-color: #F6F6F6;
    text-align: center;
    padding: 20px 0;
}
.trust-badges h3 {
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    font-weight: 200;
}
.trust-badges img {
    width: 100px;
    height: 105px;
}


