<div class="trust-badges">
    <div class="row">
        <div class="column">
          <img src="../assets/fast-shipping.png">
        </div>
         <div class="column">
            <img src="../assets/good-quality.png">
        </div> 
        <div class="column">
            <img src="../assets/5884.png">
        </div>
        <div class="column">
          <img src="../assets/ssl.png">  
        </div>
      </div>
    <div class="row">
      <div class="column">
        <h3>Fast Shipping Times</h3>
      </div>
      <div class="column">
        <h3>Perfect Quality, Perfect Price!</h3>
      </div> 
      <div class="column">
        <h3>Exceptional Customer Service</h3>
      </div>
      <div class="column">
        <h3>Secure SSL Checkout</h3>  
      </div>
    </div>
  </div>