<div class="container" *ngIf="!cartEmpty; else elseBlock">
  <div class="header">

    <div class="title">
      <h1>Shopping Cart</h1>
      <h1>&#x00028;{{getCartCount()}} Items&#x00029;</h1>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="cart-body"
    fxLayout
    fx.Layout.xs="column"
    fxLayoutGap = "60px"
    fxLayoutGap.xs="0">
    <div class="table" fxFlex="70%">
      <div class="table-keys"  fxLayout  fxLayoutAlign="center"  fxLayout.xs="column" fxLayoutGap = "0">
        <div fxFlex="50%">
          <h4>Product</h4>
        </div>
        <div fxFlex="25%">
          <h4>Quantity</h4>
        </div>
        <div fxFlex="25%">
          <h4>Price</h4>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="table-data"  *ngFor="let product of getCart()"  fxLayout   fxLayoutAlign="center" fxLayoutGap = "0">
          <div class="product" fxFlex="50%">
            <img src="{{product.img_url}}">
            <p>{{product.name}}</p>
          </div>
          <div class="quantity" fxFlex="25%">
            <p>
              <mat-form-field>
                <input matInput type="number" required step="1" min="1" max="''" name="quantity" [(ngModel)]="product.quantity">
              </mat-form-field>
            </p>
          </div>
          <div class="price" fxFlex>
            <p>{{product.price * product.quantity}}$</p>
          </div>
      </div>
    </div>
    <div class="order-summary" fxFlex fxLayout="column">
      <h4 fxFlex="20%">Order Summary</h4>
      <div class="cost" fxFlex="40%" >
        <p>Subtotal: <span class="value">{{getSubtotal()}}$</span></p>
        <p>Shipping* : <span class="value"></span></p>
        <p>Taxes*: <span class="value"></span></p>
        <p><strong>Order Total: <span class="value">{{getOrderTotal()}}$</span></strong></p>
      </div>
      <div fxFlex="40%">
        <p class="note">*Shipping and Taxes are calculated at checkout</p>
        <button type="button" routerLink="/checkout" mat-button class="btn btn-checkout">Checkout</button>
      </div>  
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="cart-empty">
    <h1>Cart is empty</h1>
    <button type="button" mat-button routerLink="/catalog" >Continue Shopping</button>
  </div>
</ng-template>