
<app-addtocart-modal></app-addtocart-modal>
<div class="all-products">
    <h2 id="header">All Products</h2>
    <div class="row">
        <div *ngFor="let product of products" class="product">
            <img src="{{product.img_url}}">
            <p>{{product.name}} - <strong>{{product.price}}$</strong></p>
            <button mat-button (click)="addProductToCart(product.id)">Add to cart</button>
            <button mat-button routerLink="/checkout">Buy Now</button>
        </div>
    </div>
</div>

